.dark-shim{
  background: rgba(0, 0, 0, 0.6);
  transition: all .2s ease-out;
}
.popup-blank{
  background: #fff;
  width: 500px;
}
.popup-title{
  color: #0275d8;
  border-bottom: 1px solid #c2c2c2;
}

.hidden{
  visibility: hidden;
  background: rgba(0, 0, 0, 0.0);
}

.visible{
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
}