<div class="main-block">
    <div class="main-block__title">Contact card</div>
    <div class="main-block__border-block rounded">
        <div class="user container">
            <div class="row">name: {{ currentContact.name }}</div>
            <div class="row">surname: {{ currentContact.surname }}</div>
            <div class="row">age: {{ currentContact.age }}</div>
            <div class="row">group: {{ currentContact.group }}</div>
            <div class="row">distriction: {{ currentContact.distriction }}</div>
            <div class="row">note: {{ currentContact.note }}</div>
        </div>
    </div>
</div>
