<div class="main-block">
    <div class="main-block__title">Contact card</div>
    <div class="main-block__border-block rounded">
        <div class="user container">
            <div class="row">name: {{ card.name }}</div>
            <div class="row">surname: {{ card.surname }}</div>
            <div class="row">age: {{ card.age }}</div>
            <div class="row">group: {{ card.group }}</div>
            <div class="row">distriction: {{ card.distriction }}</div>
            <div class="row">note: {{ card.note }}</div>
        </div>
    </div>
</div>
