<div class="row full-height m-0">
    <div class="col-8 p-0">
        <div class="main-block">
            <div class="main-block__title">Contacts page</div>
            <div class="main-block__border-block rounded">
                <list-menu></list-menu>
                <div class="list-table mt-4">
                    <contacts-list></contacts-list>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pr-0">
        <contact-card></contact-card>
    </div>
</div>
